In [11]:
import pandas as pd

# Load the Excel file
file_path = 'loan_application_datamart_data_UAT.xlsx'
# comparison_df = pd.read_excel(file_path, sheet_name='Comparison').head(3)  # Load only the first 20 rows
sas_df = pd.read_excel(file_path, sheet_name='SAS')
rds_df = pd.read_excel(file_path, sheet_name='RDS')

# Add a 'Remark' column to store mismatched 'cw_txn_id'
comparison_df['Remark'] = ''

In [51]:
comparison_df = pd.read_excel(file_path, sheet_name='Comparison')
# Add columns for Record Count, Match, and Match Rate
comparison_df['New Record Count'] = 0
comparison_df['New Match'] = 0
comparison_df['New Match Rate'] = 0.0
comparison_df['New Remark'] = ''

In [52]:
count = 1

# Loop through each row in the first 20 rows of the Comparison tab
for i, row in comparison_df.iterrows():
    sas_column = row['Variable']
    rds_column = row['RDS Variable Name']
    
    # Check if 'RDS Variable Name' is missing
    if pd.isna(rds_column):
        print(f"Row {i + 1}: Missing RDS Variable Name")
        continue
    
    # Compare data from SAS and RDS
    if sas_column in sas_df.columns and rds_column in rds_df.columns:
        print(f"Row {i + 1}: Columns present in both SAS and RDS")
        
        mismatched_ids = []  # To store all mismatched cw_txn_id values
        
        # Extract SAS and RDS column data
        sas_column_data = sas_df[sas_column]
        rds_column_data = rds_df[rds_column]
        
        # Calculate the Record Count: Number of non-null values
        record_count = sas_column_data.notna().sum()
        
        # Calculate the Match: Number of matched values
        match = 0
        for idx in range(len(sas_column_data)):
            if (pd.isna(sas_column_data.iloc[idx]) and pd.isna(rds_column_data.iloc[idx])):
                #match += 1
                continue
            elif sas_column_data.iloc[idx] == rds_column_data.iloc[idx]:
                match += 1
            else:
                # Get the specific 'cw_txn_id' for the mismatched row
                cw_txn_id = rds_df['cw_txn_id'].iloc[idx]
                mismatched_ids.append(str(cw_txn_id))  # Append to the list of mismatched ids
        
        # Calculate the Match Rate
        match_rate = (match / record_count) * 100 if record_count > 0 else 0
        
        # Update the comparison_df with calculated values
        comparison_df.at[i, 'New Record Count'] = record_count
        comparison_df.at[i, 'New Match'] = match
        comparison_df.at[i, 'New Match Rate'] = match_rate
        
        # If there are any mismatched IDs, join them and store in the 'Remark' column
        if mismatched_ids:
            comparison_df.at[i, 'Remark'] = ', '.join(mismatched_ids)

    else:
        print(f"Row {i + 1}: One or both columns not found in SAS or RDS")

Row 1: Missing RDS Variable Name
Row 2: Columns present in both SAS and RDS
Row 3: Missing RDS Variable Name
Row 4: Columns present in both SAS and RDS
Row 5: Columns present in both SAS and RDS
Row 6: Columns present in both SAS and RDS
Row 7: Missing RDS Variable Name
Row 8: Missing RDS Variable Name
Row 9: Missing RDS Variable Name
Row 10: Missing RDS Variable Name
Row 11: Columns present in both SAS and RDS
Row 12: Columns present in both SAS and RDS
Row 13: Columns present in both SAS and RDS
Row 14: Missing RDS Variable Name
Row 15: Missing RDS Variable Name
Row 16: Columns present in both SAS and RDS
Row 17: Columns present in both SAS and RDS
Row 18: Columns present in both SAS and RDS
Row 19: Missing RDS Variable Name
Row 20: Missing RDS Variable Name

In [54]:
comparison_df.head(20)

,#,Variable,Type,Len,Format,Table Name,RDS Variable Name,Format Match,Format remarks,Record Count,#Match,Match Rate,Remarks,New Record Count,New Match,New Match Rate,Remark
0,1,APP,Num,8,NaN,APPSIEXCEED,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,APP_APPLICATION_ID,Char,1024,$1024.,APPSIEXCEED,cw_txn_id,True,NaN,59925.0,59924.0,0.999983,17266175627663742,59924.0,59924.0,100.000000,NaN
2,3,APP_CREATED_DATESTAMP,Num,8,DATETIME18.2,APPSIEXCEED,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,APP_CREATED_DATE,Num,8,DATE9.,APPSIEXCEED,iexceed_app_date,False,NaN,59925.0,59924.0,0.999983,17259263970827598,59924.0,0.0,0.000000,"17251217411177608, 17251227037740995, 17251239..."
4,5,APP_CMOBILE_NUMBER,Char,12,$12.,APPSIEXCEED,iexceed_mobile_phone,False,NaN,59925.0,59925.0,1.000000,NaN,59924.0,59924.0,100.000000,NaN
5,6,APP_NMOBILE_NUMBER,Num,8,BEST32.,APPSIEXCEED,loan_mobile_phone,False,NaN,NaN,NaN,0.000000,NaN,59924.0,15739.0,26.264936,"17251217411177608, 17251227037740995, 17251488..."
6,7,APP_EMAILID,Char,1024,$1024.,APPSIEXCEED,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,APP_APPLICATION_TYPE,Char,1024,$10.,APPSIEXCEED,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,9,APP_CURRENT_SCREEN_ID,Char,1024,$25.,APPSIEXCEED,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,10,APP_CUSTOMER_ID,Char,32,$30.,APPSIEXCEED,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,11,APP_MARKETING_FLAG,Char,1024,$1.,APPSIEXCEED,referral_flag,False,NaN,NaN,NaN,NaN,NaN,11849.0,3199.0,26.998059,"17251227037740995, 17251239354878943, 17251488..."
11,12,CUSTDETAILS_GENDER,Char,1024,$10.,APPSCUSTDETAILS,customer_gender,False,NaN,49861.0,49849.0,0.999759,"17255269596090797, 17258098924514522, 17261274...",49848.0,49848.0,100.000000,"17255269596090797, 17258098924514522, 17261274..."
12,13,CUSTDETAILS_FIRSTNAME,Char,1024,$1024.,APPSCUSTDETAILS,customer_name,True,NaN,49875.0,49863.0,0.999759,"17251568449408143, 17255269596090797, 17258098...",49862.0,0.0,0.000000,"17251227037740995, 17251239354878943, 17251259..."
13,14,CUSTDETAILS_MIDDLENAME,Char,1024,$1024.,APPSCUSTDETAILS,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,15,CUSTDETAILS_LASTNAME,Char,1024,$1024.,APPSCUSTDETAILS,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,16,CUSTDETAILS_CIVILSTATUS,Char,1024,$100.,APPSCUSTDETAILS,customer_civil_status,False,NaN,NaN,NaN,NaN,NaN,46719.0,46699.0,99.957191,"17253399027486236, 17253425353236320, 17253428..."
16,17,CUSTDETAILS_ACCOPENPURPOSE,Char,1024,$10.,APPSCUSTDETAILS,customer_acct_open_purpose,False,NaN,NaN,NaN,NaN,NaN,49246.0,44940.0,91.256143,"17251279758429220, 17251488290427536, 17251490..."
17,18,CUSTDETAILS_DOB,Num,8,DATE9.,APPSCUSTDETAILS,customer_dob,False,NaN,NaN,NaN,NaN,NaN,49858.0,0.0,0.000000,"17251227037740995, 17251239354878943, 17251259..."
18,19,CREATED_AGE,Num,8,NaN,APPSCUSTDETAILS,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,20,CUSTDETAILS_CUST_TYPE,Char,1024,$1024.,APPSCUSTDETAILS,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
# After the comparison process
remark_contents = comparison_df['Remark']

# To display or print the contents
print(remark_contents)

# If you want to get all rows where 'Remark' is not empty (i.e., has mismatches)
mismatched_remarks = comparison_df[comparison_df['Remark'] != '']
print(mismatched_remarks[['Variable', 'Remark']])

0                                                   NaN
1                                                   NaN
2                                                   NaN
3     17251217411177608, 17251227037740995, 17251239...
4                                                   NaN
5     17251217411177608, 17251227037740995, 17251488...
6                                                   NaN
7                                                   NaN
8                                                   NaN
9                                                   NaN
10    17251227037740995, 17251239354878943, 17251488...
11    17255269596090797, 17258098924514522, 17261274...
Name: Remark, dtype: object
                 Variable                                             Remark
0                     APP                                                NaN
1      APP_APPLICATION_ID                                                NaN
2   APP_CREATED_DATESTAMP                                                NaN
3        APP_CREATED_DATE  17251217411177608, 17251227037740995, 17251239...
4      APP_CMOBILE_NUMBER                                                NaN
5      APP_NMOBILE_NUMBER  17251217411177608, 17251227037740995, 17251488...
6             APP_EMAILID                                                NaN
7    APP_APPLICATION_TYPE                                                NaN
8   APP_CURRENT_SCREEN_ID                                                NaN
9         APP_CUSTOMER_ID                                                NaN
10     APP_MARKETING_FLAG  17251227037740995, 17251239354878943, 17251488...
11     CUSTDETAILS_GENDER  17255269596090797, 17258098924514522, 17261274...